@import "tailwindcss";

@theme {
  --color-primary: #002147;
  --color-secondary: #64748b;
  --color-background: #ffffff;
  --color-foreground: #002147;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #002147;
  --color-slate-50: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
